header {
    background-color: #315A74;
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
}

header>* {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header>h2 {
    color: white;
}

header>a {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

#lang {
    width: 3vw;
}

header>h2>a {
    color: white;
}

header>h2>a:hover {
    color: white;
    text-decoration: none;
}

#contact-btn, #contact-btn:hover, #lang>a {
    color: lightblue;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 3vh;
    width: 70vw;
    height: 70vh;
}

form h2 {
    text-align: center;
}

form input {
    width: 20vw;
}

form input[type="submit"] {
    width: 10vw;
}

textarea {
    height: 15vh;
    width: 40vw;
}

form label+input:invalid {
    border-right: solid 5px red;
}

form label+input:valid {
    border-right: solid 5px rgb(0, 210, 0);
}

input[type="submit"] {
    margin-top: 2%;
}

input[type="radio"]+label {
    position: relative;
    right: 2em;
}

footer>p {
    text-align: center;
}

label {
    margin-top: 3vh;
}

input, textarea {
    border-radius: 20px;
    border-width: 5px;
    border-color: #315A74;
    background-color: rgba(173, 216, 230, 0.600);
}

@media screen and (max-width:412px) {
    input {
        min-width: 10em;
    }
}

@media screen and (max-device-width:412px) {
    h2 {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 100%;
    }
}