body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #315A74;
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
}

header>h2 {
    color: white;
}

header>a {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

header>h2>a {
    color: white;
}

nav {
    background-color: rgb(22, 127, 168);
    display: flex;
}

nav>* {
    margin-left: auto;
    margin-right: auto;
}

#chrono>ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.year {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    text-align: center;
    transition : all 0.15s ease-in;
}

/*/////////////////////
   VIGNETTES PROJETS
/////////////////////*/

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects>article {
    display: flex;
    width: 90vw;
    height: 45vh;
    background-color: rgb(207, 211, 207);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    border-radius: 3em;
}

.projects>article>a>img, .projects>article>a {
    height: 35vh;
    width: 35vw;
    background-color: beige;
    margin: auto;
    transition : all 0.1s ease-in;
    border-radius: 3em;
}

.projects>article>p {
    width: 35vw;
    margin: auto;
    text-align: justify;
    font-size: larger;
}

/*/////////////////
   DATES PROJETS
/////////////////*/
.projects>h1 {
    margin: 1em;
}

/*///////////////
   EFFETS ZOOM
///////////////*/

.projects>article>a:hover {
    transform: scale(1.1);
}

.year:hover{
    transform: scale(1.1);
}

/*/////////////
   TELEPHONE
/////////////*/

@media screen and (max-device-width:412px) {
    h2 {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 100%;
    }

    .year {
        position: relative;
        margin-right: 5px;
    }

    .year {
        width: 30vw;
    }

    article {
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .projects>article>a>img, .projects>article>a {
        height: 30vh;
        width: 75vw;
        flex: 1;
    }

    article>p {
        flex: 1;
        padding-top: 15px;
        font-size: xx-small;
        text-align: center;
    }

    #chrono>ul {
        padding: 0;
        margin-left: 0;
    }
}

/*///////////////
   GRAND ECRAN
///////////////*/

@media screen and (min-device-width:1626px) {
    .projects>h1 {
        margin: 1.5em;
    }
}